.vs/
*.suo
*.user
*.dbmdl
*.dbproj.schemaview

bin/
obj/
[Bb]in/
[Oo]bj/

packages/
*.nupkg
*.snupkg
project.lock.json
project.assets.json

.idea/

.vscode/

*.bak
*.tmp
*~

*.pfx
*.publishsettings

*.mdf
*.ldf

*.efmodel

*.log
*.cache
*.pidb
*.pidbproj
*.sln.ide
*.sln.docstates
*.suo
*.user
*.userosscache
*.vspscc
*.vssscc
_ReSharper.Caches/
*.DotSettings
*.DotSettings.user
